[run]
  defaults
  # On exclut quelques navigateurs présents dans "defaults" qui ne sont
  # pas notre cible et qui bloquent quelques features CSS
  not kaios > 0 # gap, minmax, rgba, dvh/dvw
  not and_qq > 0 # minmax
  not and_uc > 0 # dvh/dvw
  # https://www.spacebar.news/stop-using-opera-browser/
  not opera > 0
  not op_mob > 0
  not op_mini all
  # Chrome 109 (ChromeOS LTS) reste dans "defaults" mais ne supporte pas
  # `mask-image` sans préfixe (requis depuis Chrome 120). On le sort.
  not chrome < 120
  not dead

[build]
  current node