/* Style dédié à la page d'accueil */

.hero-info {
  height: 75vh !important;
  width: 100%;
  background:
    linear-gradient(rgb(0 0 0 / 40%), rgb(0 0 0 / 40%)),
    url("/assets/index/background.jpg") center center no-repeat;
  background-color: #fff;
  background-size: cover;
  padding-top: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.big-logo {
  max-height: 150px;
}

.hero-title {
  font-size: 28px;
  line-height: 1.1;
  color: white;
  margin: 10px;
}

.team-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
}

.event-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
}

.stats {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.stat {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

.stat-value {
  font-size: 3rem;
  margin-bottom: 1.5 rem;
}

.stat-value::after {
  content: "";
  display: block;
  height: 3px;
  width: 64px;
  background-color: #333;
}

.sponsors {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
}

.ticketing {
  background-color: #af0179;
  padding-top: 1px;
  padding-bottom: 1px;
}

.pricings {
  display: flex;
  gap: 1rem;
  margin-bottom: 20px;
  justify-content: center;
  align-items: start;
}

.pricing {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #333;
  width: 200px;
  text-align: center;
  padding-top: 24px;
}

.pricing > * {
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 0.5rem;
}

.pricing:hover {
  background-color: #eee;
  text-decoration: none;
}

.pricing-name {
  font-size: 1.2rem;
}

.pricing-price {
  font-size: 2rem;
}

.pricing-ticketing-comment {
  font-size: 0.9rem;
}

.pricing-comment {
  font-size: 0.8rem;
}

.pricing-action {
  border-top: 1px solid #ddd;
  padding: 1rem 0;
  margin-top: 0.5rem;
}

.speakers {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  text-align: center;
  margin-bottom: 2rem;
}

.map {
  height: 610px;
  position: relative;
  background-color: #ddd;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

.location {
  display: inline-block;
  padding: 3rem;
  width: 500px;
  position: absolute;
  bottom: 3.2rem;
  left: 3.2rem;
  color: #fff;
  background-color: #000;
}

.location .address {
  padding: 0.5rem 0;
  color: #fff;
  font-weight: 600;
  margin-top: 0.5rem;
  display: inline-block;
}

.location .address::after {
  content: " →";
}
