/* Règles générales */
body {
  margin: 0;
}

.centered-content {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}

/* Header */
.site-header {
  overflow: hidden;
  height: 64px;
  position: fixed;
  top: 0;
  width: 100vw;
}

.site-header > .centered-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.site-header .menu {
  display: flex;
  height: 100%;
}

/* Footer */
.site-copyright {
  overflow: hidden;
}

.site-copyright > .centered-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 0;
}

.site-links {
  padding-bottom: 1rem;
}

.site-links > .centered-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1rem;
}

.site-links-group {
  display: flex;
  flex-direction: column;
}

/* Layout des pages (hors accueil) */
.page-header {
  padding-top: 64px;
  min-height: 270px;
  width: 100%;
  padding-bottom: 1px;
}

.page-content {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
