.grid-day {
  display: grid;
  grid-auto-rows: auto;
  gap: 0.5em;
}

@media (max-width: 900px) {
  .grid-day {
    display: flex;
    flex-direction: column;
  }
}

.grid-day > div.session {
  border: 1px solid var(--divider-color);
  border-radius: 0.2rem;
  padding: 0.5rem;
}

.grid-day > div.session:hover {
  background-color: var(--gray-lighter-background-color);
}

.date {
  /* Pour que l'ancre ne soit pas masquée par le header */
  padding-top: 64px;
  margin-top: -64px;
}

.time {
  color: var(--secondary-text-color);
  text-align: right;
}

@media (max-width: 900px) {
  .time {
    text-align: left;
  }
}

.hours {
  display: inline-block;
  font-weight: 500;
  font-size: 2rem;
  width: 2rem;
  text-align: right;
}

.minutes {
  display: inline-block;
  font-weight: 400;
  width: 1rem;
}

.track {
  color: var(--secondary-text-color);
  font-weight: 400;
  text-align: center;
}

@media (max-width: 900px) {
  .track {
    display: none;
  }
}

.sponsor {
  display: block;
  text-align: center;
  border: 2px solid var(--primary-background-color);
  border-radius: 0.2rem;
  padding: 0.5rem;
}

.sponsor:hover {
  background-color: var(--gray-lighter-background-color);
}

.sponsor > .logo {
  max-height: 3em;
  vertical-align: middle;
}

.session .title {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 400;
}

.session .abstract {
  margin-bottom: 1rem;
}

.session .extra {
  color: var(--secondary-text-color);
  font-size: 0.9rem;
  margin-bottom: 0.3rem;
  text-align: right;
  text-wrap: balance;
}

.session .extra .session-track {
  display: none;
}

@media (max-width: 900px) {
  .session .extra .session-track {
    display: inline;
  }
}

.session .speakers {
  margin-top: 1rem;
}

.session .speaker-title {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.session .speaker .speaker-name {
  vertical-align: middle;
}

.session .speaker .avatar {
  width: 2rem;
  height: 2rem;
  vertical-align: middle;
}
