.speakers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  text-align: center;
}

.speaker {
  border: 1px solid var(--divider-color);
  border-radius: 0.2rem;
  padding: 2rem;
}

.speaker:hover {
  background-color: var(--gray-lighter-background-color);
}

.socials {
  margin-top: 1rem;
}

.company {
  margin-bottom: 1rem;
}
