:root {
  /* Primary colors */
  --dark-primary-color: #8c0060;
  --default-primary-color: #af0179;
  --light-primary-color: #c74da1;

  /* Background colors */
  --default-background-color: #fff;
  --primary-background-color: #c74da1;
  --gray-darker-background-color: #000;
  --gray-light-background-color: #eee;
  --gray-lighter-background-color: #f7f7f7;

  /* Text colors */
  --primary-text-color: #212121;
  --secondary-text-color: #727272;
  --primary-inv-text-color: #fff;

  /* Other colors */
  --divider-color: #b6b6b6;
  --index-header-gradient: linear-gradient(rgb(0 0 0 / 40%), rgb(0 0 0 / 0%));
  --index-header-shadow: 1px 1px 1px rgb(0 0 0 / 40%);
  --page-header-gradient: linear-gradient(rgb(0 0 0 / 60%), rgb(0 0 0 / 30%));
  --page-header-shadow: 1px 1px 2px rgb(0 0 0);
}

body {
  font-family: Poppins, sans-serif;
  font-weight: 200;
  font-size: 15px;
  color: var(--primary-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1em 0 0.5em;
  font-weight: 400;
}

/*
La taille de la police des titres est calculée avec un ratio "Major second" (1.125)
Le site https://typescale.com/?scale=1.125 permet d'avoir un aperçu du rendu
*/
h1 {
  font-size: 2.027rem;
}

h2 {
  font-size: 1.802rem;
}

h3 {
  font-size: 1.602rem;
}

h4 {
  font-size: 1.424rem;
}

h5 {
  font-size: 1.266rem;
}

h6 {
  font-size: 1.125rem;
}

small {
  font-size: 0.889rem;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

.site-header {
  z-index: 1;
  background-color: #fff0;
}

body.scrolled .site-header {
  background-color: var(--default-background-color);
  box-shadow:
    0 2px 2px 0 rgb(0 0 0 / 14%),
    0 3px 1px -2px rgb(0 0 0 / 12%),
    0 1px 5px 0 rgb(0 0 0 / 20%);
}

.site-header .menu a.item {
  transition: background-color 0.3s;
  font-weight: 600;
  font-size: 1rem;
  display: block;
  padding: 0 1rem;
  line-height: 64px;
  text-transform: uppercase;
  color: var(--primary-inv-text-color);
}

.social-icon svg {
  max-height: 1.5rem;
  max-width: 1.5rem;
  vertical-align: bottom;
  fill: var(--secondary-text-color);
}

a.social-icon:hover svg {
  fill: var(--primary-text-color);
}

.site-header .menu a.item.home-icon svg {
  fill: var(--primary-inv-text-color);
  height: 1rem;
}

.site-header .menu a.item.home-icon {
  display: none;
}

@media (max-width: 600px) {
  .site-header .menu a.item {
    padding: 0 0.5rem;
  }

  .site-header .menu a.item.home {
    display: none;
  }

  .site-header .menu a.item.home-icon {
    display: inline;
  }
}

.site-header .menu a.item.ticketing-link {
  box-shadow:
    0 2px 2px 0 rgb(0 0 0 / 14%),
    0 3px 1px -2px rgb(0 0 0 / 12%),
    0 1px 5px 0 rgb(0 0 0 / 20%);
  transition: box-shadow 0.25s;
  color: var(--primary-inv-text-color);
}

.site-header .menu a.item:hover {
  background-color: rgb(0 0 0 / 10%);
}

body.scrolled .site-header .menu a.item {
  color: var(--primary-text-color);
}

body.scrolled .site-header .menu a.item.home-icon svg {
  fill: var(--primary-text-color);
}

a.cfp-link {
  font-weight: 600;
  font-size: 1rem;
  display: block;
  padding: 0 1rem;
  text-transform: uppercase;
  border-radius: 0.5lh;
  background: var(--default-primary-color);
  line-height: 2em;
  align-self: center;
  color: var(--primary-inv-text-color) !important;
  box-shadow:
    0 2px 2px 0 rgb(0 0 0 / 14%),
    0 3px 1px -2px rgb(0 0 0 / 12%),
    0 1px 5px 0 rgb(0 0 0 / 20%);
  transition: box-shadow 0.25s;
}

a.cfp-link:hover {
  background: var(--dark-primary-color);
}

.site-header .menu a.ticketing-link {
  border-radius: 0.5lh;
  background: var(--default-primary-color);
  line-height: 2em;
  align-self: center;
  color: var(--primary-inv-text-color) !important;
}

.site-header .menu a.ticketing-link:hover {
  background: var(--dark-primary-color);
}

.site-links {
  background-color: var(--gray-lighter-background-color);
}

.site-copyright {
  background-color: var(--gray-light-background-color);
}

.dark-zone {
  background-color: var(--gray-darker-background-color);
}

.visible-link {
  padding: 0.2rem 0.5rem;
  color: var(--default-primary-color);
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 0.5rem;
  display: inline-block;
}

.dark-zone .visible-link {
  color: var(--light-primary-color);
}

.visible-link::after {
  content: " →";
}

.avatar {
  object-fit: cover;
  width: 128px;
  height: 128px;
  border-radius: 50%;
}

.page-header {
  background: var(--page-header-gradient);
  color: var(--primary-inv-text-color);
  text-shadow: var(--page-header-shadow);
}

.page-header-image {
  background: no-repeat center center;
  background-size: cover;
}

.page-description {
  max-width: 600px;
  font-size: 1.1rem;
  font-weight: 400;
}
