body {
  font-family: Poppins, sans-serif;
  font-weight: 200;
  font-size: 15px;
  color: #222;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1em 0 0.5em;
  font-weight: 400;
}

/*
La taille de la police des titres est calculée avec un ratio "Major second" (1.125)
Le site https://typescale.com/?scale=1.125 permet d'avoir un aperçu du rendu
*/
h1 {
  font-size: 2.027rem;
}

h2 {
  font-size: 1.802rem;
}

h3 {
  font-size: 1.602rem;
}

h4 {
  font-size: 1.424rem;
}

h5 {
  font-size: 1.266rem;
}

h6 {
  font-size: 1.125rem;
}

small {
  font-size: 0.889rem;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

.site-header {
  background-color: #fff0;
}

body.scrolled .site-header {
  background-color: #fff;
}

.site-header .menu a.item {
  transition: background-color 0.3s;
  font-size: 1rem;
  display: block;
  padding: 0 15px;
  line-height: 64px;
}

.site-header .menu a.item:hover {
  background-color: #ddd;
}

.site-header .menu a.ticketing-link {
  border-radius: 0.5lh;
  background: #af0179;
  line-height: 2em;
  align-self: center;
  color: #fff;
}

.site-header .menu a.ticketing-link:hover {
  background: #333;
}

.site-links {
  background-color: #eee;
}

.site-copyright {
  background-color: #ddd;
}

.visible-link {
  padding: 0.2rem 0.5rem;
  color: #af0179;
  text-transform: uppercase;
  font-weight: 400;
  margin-top: 0.5rem;
  display: inline-block;
}

.visible-link::after {
  content: " →";
}

.avatar {
  object-fit: cover;
  width: 128px;
  height: 128px;
  border-radius: 50%;
}

.page-header {
  background: no-repeat center center;
  background-size: cover;
}

.page-description {
  max-width: 600px;
}

.social-icon svg {
  max-height: 1.5rem;
  max-width: 1.5rem;
  vertical-align: bottom;
  fill: #333;
}

a.social-icon:hover svg {
  fill: #222;
}
