.team {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 1rem;
  text-align: center;
}

@media (max-width: 900px) {
  .team {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 600px) {
  .team {
    grid-template-columns: 1fr;
  }
}

.team .name {
  font-size: 1.4rem;
  margin: 1em 0 0.5em;
  font-weight: 400;
}
