---
layout: base.njk
title: Oops! Not Found
eleventyExcludeFromCollections: true
permalink: 404.html
---
<div>
<p>This is where you should tell the user how to find their content. Maybe on the <a class="bare" href="/">home page?</a></p>
</div>
