---
layout: base.njk
title: "Accueil"
permalink: "/"
background: "/background/hero-background.jpg"
bigLogo: "/images/hero-big-logo.png"
mapImage: "/images/map.jpg"
teamPhoto: "/images/team.jpg"
photos:
 - "/images/photo1.jpg"
 - "/images/photo2.jpg"
 - "/images/photo3.jpg"
 - "/images/photo4.jpg"
 - "/images/photo5.jpg"
 - "/images/photo6.jpg"
 - "/images/photo7.jpg"
 - "/images/photo8.jpg"
---

<link rel="stylesheet" type="text/css" href="{{ '/css/index.css' | normalizeAssetUrl }}" />
<div class="hero-info-image" style="background-image: url('{{ background | normalizeAssetUrl}}')">
   <div class="hero-info">
      <img class="big-logo" src="{{ bigLogo | normalizeAssetUrl }}" alt="logo {{ event.name }}">
      <h1 class="hero-title">
         {%- if (event.dayCount === 1) -%}
            {{ event.dateStart | dateFormat | capitalize }}
         {%- else -%}
            Du {{ event.dateStart | dateFormat }} au {{ event.dateEnd | dateFormat }}
         {%- endif -%}
      </h1>
      <h1 class="hero-title">Le plus grand festival dédié aux développeurs de Bourgogne-Franche-Comté</h1>
      <h1 class="hero-title">{{ event.location.name }}</h1>
      {# TODO: ajouter des liens vers le replay #}
   </div>
</div>
<div>
   <div class="centered-content event-info">
      <div>
      {%- for comment in event.comments %}
         <h1>{{ comment.title }}</h1>
         <div>{{- comment.content | md | safe -}}</div>
      {%- endfor %}
      </div>
      <div class="stats">
         <div class="stat"><span class="stat-value">{{ event.visitors }}</span><span class="stat-label">Participants</span></div>
         <div class="stat"><span class="stat-value">{{ event.dayCount }}</span><span class="stat-label">Journée</span></div>
         <div class="stat"><span class="stat-value">{{ event.sessionCount }}</span><span class="stat-label">Sessions</span></div>
         <div class="stat"><span class="stat-value">{{ tracks.length }}</span><span class="stat-label">Scènes</span></div>
      </div>
   </div>
</div>
<div>
   <div class="centered-content">
      <h1>Speakers</h1>
      <div class="speakers">
         {# Speakers en mode masqué #}
         {%- for speaker in speakers %}
         <div class="speaker" data-to-hide>
            <img class="avatar" src="{{ (speaker.photoUrl if speaker.photoUrl else '/default-avatar.png') | normalizeAssetUrl }}" alt="avatar">
            <h4 class="speaker-name">{{ speaker.name }}</h4>
            <div>{{ speaker.company }}</div>
         </div>
         {%- endfor %}
         {# Placeholders pour les speakers #}
         {%- for i in range(0, 4) %}
         <div class="speaker" data-to-remove>
            <img class="avatar" src="{{ '/default-avatar.png' | normalizeAssetUrl }}" alt="avatar">
            <h4 class="speaker-name">…</h4>
            <div>…</div>
         </div>
         {%- endfor %}
         <div class="visible-link"><a href="/speakers/">Voir tous les speakers</a></div>
      </div>
   </div>
</div>
<div class="ticketing">
   <div class="centered-content">
      <h1>Réservez-votre billet</h1>
      <div class="pricings">
      {%- for pricing in ticketing.pricings %}
         <a class="pricing" href="{{ pricing.url | default(ticketing.url) }}">
            <div class="pricing-name">{{ pricing.name }}</div>
            <div class="pricing-price">{{ pricing.price }}</div>
            <div class="pricing-ticketing-comment">{{ ticketing.comment }}</div>
            <div class="pricing-comment">{{ pricing.comment }}</div>
            <div class="pricing-action visible-link">Acheter</div>
         </a>
      {%- endfor %}
      </div>
   </div>
</div>
<div class="photos">
   <div class="photo-link dark-zone" >
      <h1>Les temps forts du {{ (event.previousEditions | first).name }}</h1>
      <a class="visible-link" href="{{ event.photosLink }}">Voir toutes les photos</a>
   </div>
   {%- for i in range(1, 9) %}
   <div class="img photo{{ i }}" style="grid-area: photo{{ i }}; background-image: url({{ photos[i] if photos[i] else '' | normalizeAssetUrl }})"></div>
   {%- endfor %}
</div>
<div class="map" style="background-image: url({{ (mapImage if mapImage else '/default-background.jpg') | normalizeAssetUrl }});">
   <div class="location dark-zone">
      <h1>Le lieu : {{ event.location.name }}</h1>
      <div>{{ event.location.description  }}</div>
      <a class="visible-link address" href="{{ event.location.url }}">{{ event.location.address  }}</a>
   </div>
</div>
<div>
   <div class="centered-content team-info">
      <img class="team-photo" src="{{ teamPhoto | normalizeAssetUrl }}" alt="Photo de l'équipe organisatrice">
      <div>
         <h1>Pourquoi un Devfest à Dijon ?</h1>
         <div>{{ event.team.why | md | safe }}</div>
         <a class="visible-link" href="{{ (event.previousEditions | first).url }}">Jeter un œil au {{ (event.previousEditions | first).name }}</a>
         <h1>Organisateur</h1>
         <div>{{ event.team.message | md | safe }}</div>
         <a class="visible-link" href="/team/">Découvrir l'équipe</a>
      </div>
   </div>
</div>
<div>
   <div class="centered-content sponsor-types">
      <h1>Partenaires &amp; Sponsors</h1>
      {%- for sponsorType in sponsors %}
      <div>
         <h2>{{ sponsorType.name }}</h2>
         <div class="sponsors">
            {%- for sponsor in sponsorType.sponsors %}
            <a class="sponsor" href="{{ sponsor.website }}" title="{{ sponsor.name }}"><img class="logo" src="{{ sponsor.logoUrl | normalizeAssetUrl }}" alt="Logo {{ sponsor.name}}"></a>
            {%- endfor %}
         </div>
      </div>
      {%- endfor %}
   </div>
</div>
<script src="{{ '/js/index.js' | normalizeAssetUrl }}" ></script>
