---
layout: base.njk
title: "Accueil"
permalink: "/"
background: "/background/hero-background.webp"
bigLogo: "/images/hero-big-logo.webp"
teamPhoto: "/images/team.webp"
photos:
 - "/images/photo1.webp"
 - "/images/photo2.webp"
 - "/images/photo3.webp"
 - "/images/photo4.webp"
 - "/images/photo5.webp"
 - "/images/photo6.webp"
 - "/images/photo7.webp"
 - "/images/photo8.webp"
---

<link rel="stylesheet" type="text/css" href="{{ '/css/index.css' | normalizeAssetUrl }}" />
<div class="hero-info-image" style="background-image: url('{{ background | normalizeAssetUrl}}')">
   <div class="hero-info">
      <img class="big-logo" src="{{ bigLogo | normalizeAssetUrl }}" alt="logo {{ event.name }}">
      <h1 class="hero-title">
         {%- if (event.dayCount === 1) -%}
            {{ event.dateStart | dateFormat | capitalize }}
         {%- else -%}
            Du {{ event.dateStart | dateFormat }} au {{ event.dateEnd | dateFormat }}
         {%- endif -%}
      <br>
      Le plus grand festival dédié aux développeurs
      <br>
      de Bourgogne-Franche-Comté
      <br>
      {{ event.location.name }}</h1>
      {% if speakers.length == 0 and event.callForPaper %}<a href="{{ event.callForPaper }}" class="cfp-link">Call for paper</a>{% endif %}
      {# TODO: ajouter des liens vers le replay #}
   </div>
</div>
<div>
   <div class="centered-content event-info">
      <div>
      {%- for comment in event.comments %}
         <h1>{{ comment.title }}</h1>
         <div>{{- comment.content | md | safe -}}</div>
      {%- endfor %}
      </div>
      <div class="stats">
         <div class="stat"><span class="stat-value">{{ event.visitors }}</span><span class="stat-label">Participants</span></div>
         <div class="stat"><span class="stat-value">{{ event.dayCount }}</span><span class="stat-label">Journée</span></div>
         <div class="stat"><span class="stat-value">{{ event.sessionCount if event.sessionCount > 0 else "+20" }}</span><span class="stat-label">Sessions</span></div>
         <div class="stat"><span class="stat-value">{{ tracks.length }}</span><span class="stat-label">Scènes</span></div>
      </div>
   </div>
</div>
{%- if speakers.length > 0 %}
<div>
   <div class="centered-content">
      <h1>Speakers</h1>
      <div class="speakers">
         {# Speakers en mode masqué #}
         {%- for speaker in speakers %}
         <div class="speaker" data-to-hide>
            <img class="avatar" src="{{ (speaker.photoUrl if speaker.photoUrl else '/default-avatar.webp') | normalizeAssetUrl }}" alt="avatar">
            <div class="speaker-name">{{ speaker.name }}</div>
            <div>{{ speaker.company }}</div>
         </div>
         {%- endfor %}
         {# Placeholders pour les speakers #}
         {%- for i in range(0, 4) %}
         <div class="speaker" data-to-remove>
            <img class="avatar" src="{{ '/default-avatar.webp' | normalizeAssetUrl }}" alt="avatar">
            <div class="speaker-name">…</div>
            <div>…</div>
         </div>
         {%- endfor %}
      </div>
      <div class="visible-link all-speakers"><a href="/speakers/">Voir tous les speakers</a></div>
   </div>
</div>
{%- endif %}
<div class="ticketing">
   <div class="centered-content">
      {%- if ticketing.pricings.length > 0 %}
      <h1>Réservez votre billet</h1>
      {%- else %}
      <h1>Suivez-nous <a class="link" href="{{ event.contact[0].url }}">les réseaux</a> pour ne pas manquer l'ouverture de la billetterie</h1>
      {%- endif %}
      <div class="pricings">
      {%- for pricing in ticketing.pricings %}
         <a class="pricing" href="{{ pricing.url | default(ticketing.url) }}">
            <div class="pricing-name">{{ pricing.name }}</div>
            <div class="pricing-price">{{ pricing.price }}</div>
            <div class="pricing-ticketing-comment">{{ ticketing.comment }}</div>
            <div class="pricing-comment">{{ pricing.comment }}</div>
            <div class="pricing-action visible-link">Acheter</div>
         </a>
      {%- endfor %}
      </div>
   </div>
</div>
<div class="photos">
   <div class="photo-link dark-zone" >
      <h1>Les temps forts du {{ (event.previousEditions | first).name }}</h1>
      <a class="visible-link" href="{{ event.photosLink }}">Voir toutes les photos</a>
   </div>
   {%- for i in range(0, 8) %}
   <div class="img photo{{ i }}" style="grid-area: photo{{ i + 1 }}; background-image: url({{ (photos[i] if photos[i] else '') | normalizeAssetUrl }})"></div>
   {%- endfor %}
</div>
<div class="map-container">
   <iframe class="map" width="100%" src="https://www.openstreetmap.org/export/embed.html?bbox={{event.location.bbox.lonMin}},{{event.location.bbox.latMin}},{{event.location.bbox.lonMax}},{{event.location.bbox.latMax}}&layer=mapnik&marker=47.313021,5.072583" style="border: none"></iframe>
   <div class="location dark-zone">
      <h1>Le lieu : {{ event.location.name }}</h1>
      <div>{{ event.location.description  }}</div>
      <a class="visible-link address" href="https://www.openstreetmap.org/directions?from=&to={{ event.location.center.lat }},{{ event.location.center.lon }}">{{ event.location.address  }}</a>
   </div>
</div>
<div>
   <div class="centered-content team-info">
      <img class="team-photo" src="{{ teamPhoto | normalizeAssetUrl }}" alt="Photo de l'équipe organisatrice">
      <div>
         <h1>Pourquoi un Devfest à Dijon ?</h1>
         <div>{{ event.team.why | md | safe }}</div>
         <a class="visible-link" href="{{ (event.previousEditions | first).url }}">Jeter un œil au {{ (event.previousEditions | first).name }}</a>
         <h1>Organisateur</h1>
         <div>{{ event.team.message | md | safe }}</div>
         <a class="visible-link" href="/team/">Découvrir l'équipe</a>
      </div>
   </div>
</div>
{%- if sponsors.length > 0 %}
<div>
   <div class="centered-content sponsor-types">
      <h1>Partenaires &amp; Sponsors</h1>
      {%- for sponsorType in sponsors %}
      <div>
         <h2>{{ sponsorType.name }}</h2>
         <div class="sponsors">
            {%- for sponsor in sponsorType.sponsors %}
            <a class="sponsor" href="{{ sponsor.website }}" title="{{ sponsor.name }}"><img class="logo" src="{{ sponsor.logoUrl | normalizeAssetUrl }}" alt="Logo {{ sponsor.name}}"></a>
            {%- endfor %}
         </div>
      </div>
      {%- endfor %}
   </div>
</div>
{%- endif %}
<script src="{{ '/js/index.js' | normalizeAssetUrl }}" ></script>
