---
layout: base.njk
title: "DevFest Dijon"
permalink: "/"
---

<link rel="stylesheet" type="text/css" href="/assets/css/index.css" />
<div class="hero-info">
   <img class="big-logo" src="/assets/index/big-logo.png">
   <div class="hero-title">
      {%- if (event.dayCount === 1) -%}
         {{ event.dateStart | dateFormat }}
      {%- else -%}
         du {{ event.dateStart | dateFormat }} au {{ event.dateEnd | dateFormat }}
      {%- endif -%}
   </div>
   <div class="hero-title">Le plus grand festival dédié aux développeurs de Bourgogne-Franche-Comté</div>
   <div class="hero-title">{{ event.location.name }}</div>
   {# TODO: ajouter des liens vers le replay #}
</div>
<div>
   <div class="centered-content event-info">
      <div>
      {%- for comment in event.comments %}
         <h1>{{ comment.title }}</h1>
         <div>{{- comment.content | md | safe -}}</div>
      {%- endfor %}
      </div>
      <div class="stats">
         <div class="stat"><span class="stat-value">{{ event.visitors }}</span><span class="stat-label">Participants</span></div>
         <div class="stat"><span class="stat-value">{{ event.dayCount }}</span><span class="stat-label">Journée</span></div>
         <div class="stat"><span class="stat-value">{{ event.sessionCount }}</span><span class="stat-label">Sessions</span></div>
         <div class="stat"><span class="stat-value">{{ tracks.length }}</span><span class="stat-label">Scènes</span></div>
      </div>
   </div>
</div>
<div>
   <div class="centered-content">
      <h1>TODO: quelques speakers</h1>
   </div>
</div>
<div class="ticketing">
   <div class="centered-content">
      <h1>Réservez-votre billet</h1>
      <div class="pricings">
      {% for pricing in ticketing.pricings %}
         <a class="pricing" href="{{ pricing.url | default(ticketing.url) }}">
            <div class="pricing-name">{{ pricing.name }}</div>
            <div class="pricing-price">{{ pricing.price }}</div>
            <div class="pricing-ticketing-comment">{{ ticketing.comment }}</div>
            <div class="pricing-comment">{{ pricing.comment }}</div>
            <div class="pricing-action visible-link">Acheter</div>
         </a>
      {% endfor %}
      </div>
   </div>
</div>
<div>
   <h1>TODO: photos édition précédente</h1>
</div>
<div>
   <h1>TODO: location (carte + infos)</h1>
</div>
<div>
   <div class="centered-content team-info">
      <img src="{{ event.team.photo | normalizeAssetUrl }}" alt="Photo de l'équipe oragnisatrice">
      <div>
         <h1>Pourquoi un Devfest à Dijon ?</h1>
         <div>{{ event.team.why | md | safe }}</div>
         <a class="visible-link" href="{{ (event.previousEditions | first).url }}">Jeter un œil au {{ (event.previousEditions | first).name }}</a>
         <h1>Organisateur</h1>
         <div>{{ event.team.message | md | safe }}</div>
         <a class="visible-link" href="/team/">Découvrir l'équipe</a>
      </div>
   </div>
</div>
<div>
   <div class="centered-content">
      <h1>Partenaires &amp; Sponsors</h1>
      {% for sponsorType in sponsors %}
      <div class="sponsorType">
         <h2>{{ sponsorType.name }}</h2>
         <div class="sponsors">
            {% for sponsor in sponsorType.sponsors %}
            <a class="sponsor" href="{{ sponsor.website }}" title="{{ sponsor.name }}"><img src="{{ sponsor.logoUrl | normalizeAssetUrl }}" alt="Logo {{ sponsor.name}}"></a>
            {% endfor %}
         </div>
      </div>
      {% endfor %}
   </div>
</div>
