---
permalink: /schedule/
layout: page.njk
title: Le programme
image: "/background/sessions.webp"
css: "/css/schedule.css"
eleventyComputed:
   description: Cette année, le {{ event.name }} se déroulera sur {{ tracks.length }} scènes en simultanées. Découvrez le programme et sélectionnez vos talks favoris pour créer votre programme sur mesure !
---

<style>
   {%- for day, daySlot in slots %}
   .grid-day.day_{{ day }} {
      grid-template-columns: [time] minmax(64px, 150px) {% for track in tracks %}[{{(tracks[loop.index0 - 1].id + "-end") if loop.index0 > 0 else "track" }} {{track.id}}] minmax(200px, 1fr) {% endfor %}[{{ tracks[tracks.length - 1].id }}-end track-end];
      grid-template-rows: [track] auto {% for slot in daySlot -%}[slot_{{ slot | dateKey }}] auto {% endfor -%}[end];
   }
   {%- endfor %}
</style>
<div class="schedule-page full-width">
   {%- for day, daySlot in slots %}
   <div class="day">
      <a href="#{{ day }}"><h2 class="date" id="{{ day }}">{{ day | dayFormat | capitalize }}</h2></a>
      <div class="grid-day day_{{ day }}">
         {%- for track in tracks %}
         <div class="track" style="grid-column: {{ track.id }}; grid-row: track">{{ track.name }}</div>
         {%- endfor -%}
         {%- for slot in daySlot %}
         <div class="time" style="grid-column: time; grid-row: slot_{{ slot | dateKey }};">
            <span class="hours">{{ slot | hours }}</span>
            <span class="minutes">{{ slot | minutes }}</span>
         </div>
         {%- for session in sessions | filterByDateStart(slot) %}
            {%- set column = (session.trackRange[0]+" / "+session.trackRange[1]+"-end") if session.trackRange else (session.trackId | default ("track / -1")) %}
         <div class="session" style="grid-column: {{ column }} ; grid-row: slot_{{ session.dateStart | dateKey }} / span {{ session | countSlots(daySlot) }}">
            <div class="title">
               {%- if session.hideTrackTitle -%}
               {{ session.title }}
               {%- else -%}
               <a href="/session/{{ session.id | slugify }}">{{ session.title }}</a>
               {%- endif -%}
            </div>
            <div class="abstract">{{ session.abstract | md | safe | striptags | truncate(100) }}</div>
            <div class="extra">{{ session.durationMinutes }} minutes<span class="session-track">{%- for track in session.tracks %} ⋅ {{ track.name }}{%- endfor %}</span></div>
            {%- if session.level or session.category.name %}
            <div class="extra">{{ session.category.name }} ⋅ {{ session.level | formatLevel }} ⋅ {{ session.language | formatLanguage }}</div>
            {%- endif -%}
            {%- if session.speakers.length %}
            <div class="speakers">
               <div class="speaker-title">Speakers</div>
               {%- for speaker in session.speakers -%}
               <div class="speaker">
                  <img class="avatar" src="{{ (speaker.photoUrl if speaker.photoUrl else '/default-avatar.webp') | normalizeAssetUrl }}" alt="avatar">
                  <a class="speaker-name" href="/speaker/{{ speaker.name | slugify }}">{{ speaker.name }} ⋅ {{ speaker.company }}</a>
               </div>
               {%- endfor %}
            </div>
            {%- endif -%}
         </div>
         {%- endfor -%}
         {%- endfor -%}
      </div>
   </div>
   {%- endfor -%}
</div>
