---js
{
    pagination: {
        data: "speakers",
        size: 1,
        alias: "speaker",
    },
    permalink: "/speaker/{{ speaker.id | slugify }}/",
    layout: "page.njk",
    image: "/background/speakers.webp",
    css: "/css/speaker.css",
    eleventyComputed: {
        title: "{{ speaker.name }}",
        description: "{{ speaker.jobTitle }} {{ speaker.company }}",
        speakerSessions: function(data) { return (data.sessions || []).filter((s) => (s.speakerIds || []).includes(data.speaker.id)); },
    },
}
---

<div class="main-content">
    <img class="avatar" src="{{ (speaker.photoUrl if speaker.photoUrl else '/default-avatar.webp') | normalizeAssetUrl }}" alt="avatar">
    <div class="job_title">{{ speaker.bio | md | safe }}</div>
    <div class="socials">
        {%- for social in speaker.socials %}
        {% social social %}
        {%- endfor -%}
    </div>
</div>
<div class="aside">
    <div class="sessions">Sessions</div>
    <ul>
        {%- for session in speakerSessions %}
        <li><a class="session-name" href="/session/{{ session.id | slugify }}">{{ session.title }}</a></li>
        {%- endfor -%}
    </ul>
</div>
