---
permalink: /speakers/
layout: page.njk
title: Les speakers
# image: "/team/background.jpg"
css: "/css/speakers.css"
eleventyComputed:
   description: Découvrez les speakers du {{ event.name }}, en provenances du monde entier et de dizaines d'entreprises au sommet de la technologie
---
<div class="speakers">
   {%- for speaker in speakers %}
   <div class="speaker">
      <img class="avatar" src="{{ (speaker.photoUrl if speaker.photoUrl else '/default-avatar.png') | normalizeAssetUrl }}" alt="avatar">
      <h4>{{ speaker.name }}</h4>
      <div>{{ speaker.jobTitle }}</div>
      <div class="company">{{ speaker.company }}</div>
      <div class="bio">{{ speaker.bio | md | safe | striptags | truncate(100) }}</div>
      <div class="socials">
         {%- for social in member.socials %}
         <span class="social" href="{{ social.name | socialLink(social.id) }}"><a>{{social.name}}</a></span>
         {%- endfor -%}
      </div>
   </div>
   {%- endfor -%}
</div>
