---
---
<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
    <link rel="stylesheet" type="text/css" href="/assets/css/layout.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="/assets/poppins/latin-italic.css">
    <link rel="stylesheet" type="text/css" href="/assets/poppins/latin.css">
  </head>
  <body>
    <header class="site-header">
      <nav class="centered-content">
        <span><a href="/"><img src="/assets/brand-logo.png" alt="{{ event.name }}"></a></span>
        <div class="menu">
          <a class="item" href="/">Accueil</a>
          <a class="item" href="/speakers/">Speakers</a>
          <a class="item ticketing-link" href="{{ ticketing.url}}">Billeterie</a>
        </div>
      </nav>
    </header>
    <main>{{ content | safe }}</main>
    <footer class="site-footer">
      <div class="site-links">
        <div class="centered-content">
          <div class="site-links-group">
            <h3>À propos</h3>
            {%- for link in event.aPropos %}
            <a href="{{ link.url }}">{{ link.name }}</a>
            {%- endfor -%}
            {%- for link in event.previousEditions %}
            <a href="{{ link.url }}">{{ link.name }}</a>
            {%- endfor -%}
          </div>
          <div class="site-links-group">
            <h3>Ressources</h3>
            {%- for link in event.resources %}
            <a href="{{ link.url }}">{{ link.name }}</a>
            {%- endfor -%}
          </div>
          <div class="site-links-group">
            <h3>Contact</h3>
            {%- for link in event.contact %}
            <a href="{{ link.url }}">{{ link.name }}</a>
            {%- endfor -%}
          </div>
        </div>
      </div>
      <div class="site-copyright">
        <div class="centered-content">{{ event.name }}<a href="https://developers-group-dijon.fr/">Fait avec ❤ par le Developers Group Dijon</a></div>
      </div>
    </footer>
    <script src="/assets/js/site.js" ></script>
  </body>
</html>
