---
brandLogo: /brand-logo.webp
icons:
  - href: /favicon-16x16.webp
    sizes: 16x16
    type: image/webp
  - href: /favicon-32x32.webp
    sizes: 32x32
    type: image/webp
---
<!doctype html>
<html lang="fr">
  <head>
    <title>{{ event.name }} ⋅ {{ title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ event.name }} ⋅ {{ title }}">
    {%- for icon in icons %}
    <link rel="icon" type="{{ icon.type }}" sizes="{{ icon.sizes }}" href="{{ icon.href | normalizeAssetUrl }}">
    {%- endfor %}
    <link rel="stylesheet" type="text/css" href="{{ '/css/layout.css' | normalizeAssetUrl }}">
    <link rel="stylesheet" type="text/css" href="{{ '/css/style.css' | normalizeAssetUrl }}">
    <link rel="stylesheet" type="text/css" href="{{ '/poppins/latin-italic.css' | normalizeAssetUrl }}">
    <link rel="stylesheet" type="text/css" href="{{ '/poppins/latin.css' | normalizeAssetUrl }}">
  </head>
  <body>
    <header class="site-header">
      <nav class="centered-content">
        <a href="/" class="site-logo" title="Retour à la page d'accueil"><img src="{{ brandLogo | normalizeAssetUrl }}" alt="Logo {{ event.name }}"></a>
        <div class="menu">
          <a class="item home-icon" href="/" title="Retour à la page d'accueil">{% iconSvg 'solid/house' %}</a>
          <a class="item home" href="/">Accueil</a>
          {% if speakers.length > 0 %}<a class="item" href="/speakers/">Speakers</a>{% endif %}
          {% if event.sessionCount > 0 %}<a class="item" href="/schedule/">Programme</a>{% endif %}
          {% if ticketing.url %}<a class="item ticketing-link" href="{{ ticketing.url}}">Billeterie</a>{% endif %}
          {% if event.sponsoringUrl %}<a class="item ticketing-link" href="{{ event.sponsoringUrl }}">Devenir sponsor</a>{% endif %}
        </div>
      </nav>
    </header>
    <main>{{ content | safe }}</main>
    <footer class="site-footer">
      <div class="site-links">
        <div class="centered-content">
          <div class="site-links-group">
            <div class="site-links-group-title">À propos</div>
            {%- for link in event.aPropos %}
            <a href="{{ link.url }}">{{ link.name }}</a>
            {%- endfor -%}
            {%- for link in event.previousEditions %}
            <a href="{{ link.url }}">{{ link.name }}</a>
            {%- endfor -%}
          </div>
          <div class="site-links-group">
            <div class="site-links-group-title">Ressources</div>
            {%- for link in event.resources %}
            <a href="{{ link.url }}">{{ link.name }}</a>
            {%- endfor -%}
          </div>
          <div class="site-links-group">
            <div class="site-links-group-title">Contact</div>
            {%- for link in event.contact %}
            <a href="{{ link.url }}">{{ link.name }}</a>
            {%- endfor -%}
          </div>
        </div>
      </div>
      <div class="site-copyright">
        <div class="centered-content">{{ event.name }}<a href="https://developers-group-dijon.fr/">Fait avec ❤ par le Developers Group Dijon</a></div>
      </div>
    </footer>
    <script src="{{ '/js/site.js' | normalizeAssetUrl }}" ></script>
  </body>
</html>
