---
---
<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
    <link rel="stylesheet" type="text/css" href="/assets/css/layout.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
  </head>
  <body>
    <header class="site-header">
      <nav class="centered-content">
        <span><a href="/"><img src="/assets/brand-logo.png" alt="{{ event.name }}"></a></span>
        <div class="menu">
          <a class="item" href="/">Accueil</a>
          <a class="item ticketing-link" href="{{ ticketing.url}}">Billeterie</a>
        </div>
      </nav>
    </header>
    <main>{{ content | safe }}</main>
  </body>
</html>
